img { height: auto; max-width: 100%; }

.container { padding: 0 15px; position: relative; *zoom: 1; }
.container:after { content: ""; display: table; clear: both; }

.row { width: 100%; margin: 0 auto; padding: 10px 0; position: relative; max-width: 978px; *zoom: 1; }
.row:after { content: ""; display: table; clear: both; }

[class*="col-"] { float: left; display: inline; min-height: 1px; position: relative; margin-left: 3.09091%; }
[class*="col-"]:first-child { margin-left: 0; }

.col-1 { width: 5.5%; }

.col-2 { width: 14.09091%; }

.col-3 { width: 22.68182%; }

.col-4 { width: 31.27273%; }

.col-5 { width: 39.86364%; }

.col-6 { width: 48.45455%; }

.col-7 { width: 57.04545%; }

.col-8 { width: 65.63636%; }

.col-9 { width: 74.22727%; }

.col-10 { width: 82.81818%; }

.col-11 { width: 91.40909%; }

.col-12 { width: 100%; }

@media only screen and (max-width: 767px) { .row { max-width: 767px; }
  .row [class*="col-"] { width: 100%; margin: 5px 0; } }
